html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: #D9D9D9;
  }
}

.mainContainer {
  margin: 64px 200px 0 100px;
}

.gridList {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 32px;
}

.inputContainer {
  margin: 15px 0 56px 0;
}

.todoListTitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}

.inputText {
  width: 287px;
  height: 37px;
  color: #000000;
  background: #FFFFFF;
  border-radius: 12px;
}

.addTaskButton {
  height: 37px;
  width: 100px;
  background: #5F7BE1 !important;
  border-radius: 12px;
  margin-left: 9px;
}

.taskListContainer {
  height: 202px;
  width: 370px;
  border-radius: 4%;
  background: #FFFFFF;
}

.taskButtonContainer {
  float: right; 
  color: #EF4949;
  margin: 5px 10px 0 0;
}

.taskButton {
  font-size: 20px;
}

.taskListTitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #5C5C5C;
}

.taskListTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
